<div class="comments">
    {{#each this}}
    <div class="box border" id="border">
        <h3>{{user.username}}</h3>
        <p class="date">{{created_at}}</p>
        <br>
        <p class="comment-text">{{comment_text}}</p>
    </div>
    {{/each}}
</div>
