<div class="blog-container">

  <div class="blog-header">
    <div class="blog-author--no-cover">
      <h3>{{user.username}}</h3>
    </div>
  </div>

  <div class="blog-body">
    <div class="blog-title">
      <h1><a href="/post/{{id}}">{{title}}</a></h1>
    </div>
    <div class="blog-summary">
      <p>{{post_content}}</p>
    </div>
    <div class="blog-tags">
    </div>
  </div>
</div>

<script src="/javascript/vote.js"></script>