<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The B Word</title>
    <!--<link rel="stylesheet" href="/public/src/assets/foundation.css">-->
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="/public/src/assets/app.css">
</head>

<!--Nav placeholder for pull request-->
<div class="nav">
      <div class="to-right">
        <ul class="pages">
          <li><a href="#signup">Sign-Up</a></li>
          <li><a href="#login-form">Login</a></li>
          <li><a href="#">New Post</a></li>
          <li><a href="#">Logout</a></li>
        </ul><div class="login-form"></div>
      </div>
    </div>
<body>
    <div class="wrapper">
        <header>
            <nav>
                <div class="to-right">
                    <ul class="page">
                {{#if loggedIn}}
                <a href="/dashboard">Dashboard</a>
                <li>
                <button id="logout" class="logout-button">Logout</button>
                </li>
                {{else}}
                <a href="/login">Login</a>
                <li>
                    <button class="signup" id="signup-form">Sign Up</button>
                </li>
                <li>
                    <button class="login" id="login-form">Login</button>
                </li>
                {{/if}}
                    </ul>
                </div>
            </nav>
            <h1>
                <a href="/">The B Word</a>
            </h1>
        </header>

        <main>

            {{{ body }}}

        </main>

        <footer>

        </footer>

    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
  <!--  <script src="/public/js/vendor/jquery.js"></script>
    <script src="/public/js/vendor/what-input.js"></script>
    <script src="/public/js/vendor/foundation.js"></script>
    <script src="/server.js"></script>    -->   

    </body>
</html>