<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The B Word</title>
    <link rel="stylesheet" href="css/index.js">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">The B Word</a>
            </h1>
            <nav>
                {{#if loggedIn}}
                <button id="logout" class="logout-button">Logout</button>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
            </nav>
        </header>
        <main>

        </main>
        <footer>

        </footer>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/what-input/dist/what-input.js"></script>
<script src="node_modules/foundation-sites/dist/js/foundation.js"></script>
<script src="js/index.js"></script>
</html>