/* Universal Rules */

* {
  color: var(--dark-outline);
}

html {
  height: 100%;
}

:root {
  --primary-color: #EDEBE7;
  --secondary-color: #D2D5D2;
  --tierary-color: #B7BCBA;
  --dark-outline: #7F8386;
  --red-color: #FFB8B8;
  --yellow-color: #FFFBD0;
  --green-color: #C8FDC3;
  --blue-color: #97F2D0;
  --purple-color: #E6B2FD;
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

.footer {
  align-items: center;
  text-align: center;
}

/* Navigation CSS */
nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: right;
  list-style: none;
}

  nav ul li {
    padding: 10px 20px;
    font-weight: heavy;
    font-size: xx-large;
    border: none;
    color: var(--secondary-color);
  }

  .callout,
  .large,
  .primary {
    background-image: url('../stylesheet/assets/00_pride_header.webp');
    background-position: bottom;
  }

  .thebword {
    text-align: center;
  }

  .thebword span {
    background: rgba(0, 0, 0, .5);
    font-style: italic;
    color: white;
    border-radius: 5px;
    backdrop-filter: blur(10px);
  }

  /*Random Words*/
  .randomWord {
    width: 50%;
    background: rgba(255, 255, 255, 0.5);
    color: black;
    border-radius: 5px;
    backdrop-filter: blur(10px);
  }
  
  .word {
    text-align: center;
    font-size: large;
    font-style: italic;
    font-weight: bolder;
    color: black;
    padding: 10px;
    margin: 10px;
    background-image: linear-gradient(to right, var(--blue-color), var(--green-color), var(--purple-color), var(--red-color), var(--yellow-color));
    border: #EDEBE7;
    border-style: solid;
  }

  /*Resource Links*/

  .res1 {
    color: blue;
    text-shadow: 0 0 3px #959595;
  }

  .res2 {
    color: rgb(152, 227, 40);
    text-shadow: 0 0 3px #a8a8a8;
  }

  .res3 {
    color: purple;
    text-shadow: 0 0 3px #a8a8a8;
  }

  .res4 {
    color: red;
    text-shadow: 0 0 3px #a8a8a8;
  }

  .res5 {
    color: rgb(186, 186, 32);
    text-shadow: 0 0 3px #a8a8a8;
  }

  .res6 {
    color: orange;
  }

  .res1:hover {
    color: var(--blue-color)
  }

  .res2:hover {
    color: var(--green-color)
  }

  .res3:hover {
    color: var(--purple-color)
  }

  .res4:hover {
    color: var(--red-color)
  }

  .res5:hover {
    color: var(--yellow-color) 
  }

  .res6:hover {
    color: lightsalmon
  }

/*Login Form*/
#login-form {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  text-decoration: none;
  border: none;
  border-radius: 25px;
  color: #664d71;
  background-color: var(--purple-color);
}

  .login-options {
    display: flex;
    justify-content: space-around;
  }


  .login-form {
    padding: 1rem 1.5em;
    border-radius: .5rem;
    background-color: #b1b1b1;
    display: inline-block;
    width: 45%;
    box-shadow: 5px 5px #888888;
  }

  .login-form h4 {
    color: #261f2a;
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }

  .login-form label {
    text-transform: uppercase;
    color: #55425e;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .login-form input {
    color: #332a38;
  }

  .login-form input:focus {
    opacity: .6;
  }

  .email-login,
  .password-login {
    border-radius: 30px;
    border: none;
    opacity: .1;
    transition: all ease .4s;
  }

  .login-form-button {
    border-radius: 30px;
    border: 1px solid #fff;
    color: #fff;
    background-color: #836690;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    padding: 1rem;
    transition: all ease .4s;
  }

  .login-form-button:hover {
    background-color: #44c8ed;
    border-color: #44c8ed;
  }


/*Signup-form*/

#signup-form {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  text-decoration: none;
  border: none;
  border-radius: 25px;
  color: #5c765a;
  background-color: var(--green-color);
}

  .signup-form {
    padding: 1rem 1.5em;
    display: inline-block;
    border-radius: .5rem;
    background-color: #b1b1b1;
    width: 45%;
    color: black;
    box-shadow: 5px 5px #888888;
  }

  .signup-form h4 {
    color: #22362f;
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }

  .signup-form label {
    text-transform: uppercase;
    color: #2d473e;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .signup-form input {
    color: black;
  }

  .signup-form input:focus {
    opacity: .6;
  }

  .firstname-signup,
  .lastname-signup,
  .username-signup,
  .email-signup,
  .password-signup {
    border-radius: 30px;
    border: none;
    opacity: .1;
    transition: all ease .4s;
  }

  .signup-form-button {
    border-radius: 30px;
    border: 1px solid #fff;
    color: #fff;
    background-color: #5a947f;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    padding: 1rem;
    transition: all ease .4s;
  }

  .signup-form-button:hover {
    background-color: #44c8ed;
    border-color: #44c8ed;
  }

/* New Post Modal */
.newpost-popout {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

  .newpost-content {
    background-color: #bbbbbb;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .post-content {
    height: 50px;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  .createbtn {
    color: rgb(109, 109, 109);
    float: left;
    font-size: 20px;
  }

  .createbtn:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .sub-main {
    width: 40%;
    display: flex;
  }


  .button-two {
    border-radius: 4px;
    background-color: var(--blue-color);
    color: black;
    border: none;
    padding: 25px 50px 25px 50px;
    transition: all 0.5s;
    display: flex;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    box-shadow: 5px 5px #888888;
  }


  .button-two span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button-two span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button-two:hover span {
    padding-right: 25px;
  }

  .button-two:hover span:after {
    opacity: 1;
    right: 0;
  }


/*Post Contents*/

.post-container {
  background: #fff;
  border-radius: 5px;
  box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
  font-family: "adelle-sans", sans-serif;
  font-weight: 100;
  margin: 48px auto;
  width: 75%;
  box-shadow: 5px 5px #b6b6b6;

  @media screen and (min-width: 480px) {
    width: 75%
  }

  @media screen and (min-width: 767px) {
    width: 75%
  }

  @media screen and (min-width: 959px) {
    width: 75%
  }
}

  .post-container a {
    color: #4d4dff;
    text-decoration: none;
    transition: .25s ease;
  }

  .post-container a:hover {
    border-color: #ff4d4d;
    color: #ff4d4d;
  }

  .post-author,
  .post-author--no-cover {
    margin: 0 auto;
    padding-top: .125rem;
    width: 80%;
    float: left;
  }

  .post-author h4::before,
  .post-author--no-cover h4::before {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/russ.jpeg");
    background-size: cover;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 32px;
    margin-right: .5rem;
    position: relative;
    top: 8px;
    width: 32px;
  }

  .post-author--no-cover h4 {
    color: lighten(#333, 40%);
    font-weight: 100;
  }


  .post-body {
    margin: 0 auto;
    width: 80%;
  }

  .post-title h2 a {
    color: rgb(93, 93, 93);
    font-weight: 100;
    font-style: italic;
  }

  .post-summary p {
    color: lighten(#333, 10%);
    text-align: center;
  }

  .post-footer {
    border-top: 1px solid lighten(#333, 70%);
    margin: 0 auto;
    padding-bottom: .125rem;
    width: 80%;
  }

  .post-footer ul {
    list-style: none;
    display: flex;
    flex: row wrap;
    justify-content: flex-end;
    padding-left: 0;
  }

  .post-footer li:first-child {
    margin-right: auto;
  }

  .post-footer li+li {
    margin-left: .5rem;
  }

  .post-footer li {
    color: lighten(#333, 40%);
    font-size: .75rem;
    height: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
  }

  .published-date {
    border: 1px solid lighten(rgb(157, 157, 157), 40%);
    border-radius: 3px;
    padding: 0 .5rem;
    display: flex;
  }

  .votingbuttons {
    display: flex;
  }

  .positive .negative {
    display: inline-block;
  }

  .up-vote-btn img {
    width: 10%;
  }

  .down-vote-btn img {
    width: 10%;
  }

  /*Page Quotes*/
.homepagequote {
  font-size: x-large;
  text-align: center;
  font-weight: bold;
}

.dashboardquote {
  font-size: x-large;
  text-align: center;
  font-weight: bold;
}

.singlepostquote {
  font-size: x-large;
  text-align: center;
  font-weight: bold;
}

/*Comment Form on Single Post*/
.singlepost {
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: block;
}

.comment-form {
  padding: 1rem 1.5em;
  display: flex;
  display: inline-block;
  justify-content: space-around;
  border-radius: .5rem;
  background-color: #b1b1b1;
  width: 100%;
  color: black;
  box-shadow: 5px 5px #888888;
  align-items: center;
}

.comment-form p {
  color: #22362f;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.comment-form label {
  text-transform: uppercase;
  color: #2d473e;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.comment-form input {
  color: black;
}

.comment-body {
  border-radius: 30px;
  border: none;
  opacity: .1;
  transition: all ease .4s;
}

.singlepost-form-button {
  border-radius: 30px;
  border: 1px solid #fff;
  color: black;
  background-color: var(--yellow-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 1rem;
  transition: all ease .4s;
}

.singlepost-form-button:hover {
  background-color: #44c8ed;
  border-color: #44c8ed;
}


  /*Displayed Comments*/
  .box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;
  }

  .border {
    border-top: 12px solid;
  }

  h3 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
  }

  .date {
    font-style: italic;
    font-weight: lighter;
    font-size: smaller;
  }

  @media (max-width: 450px) {
    .box {
      height: 200px;
    }
  }

  @media (max-width: 950px) and (min-width: 450px) {
    .box {
      text-align: center;
      height: 180px;
    }
  }

  .border {
    border-top: 12px solid var(--blue-color); 
    animation: bgColor 10s infinite linear;
  }
  @keyframes bgColor {
    25% {
      border-top: 12px solid var(--red-color);
    }
    50% {
      border-top: 12px solid var(--green-color);
    }
    75% {
      border-top: 12px solid var(--yellow-color);
    }
    100% {
      border-top: 12px solid var(--purple-color);
    }
  }

  .dashboardbtn {
    border-radius: 30px;
    border: 1px solid #fff;
    color: black;
    background-color: var(--purple-color);
    text-transform: lowercase;
    letter-spacing: 1px;
    width: 50%;
    padding: 1rem;
    transition: all ease .4s;
  }

  .singlepost-form-button:hover {
    background-color: #44c8ed;
    border-color: #44c8ed;
  }

  .dashboardpgfunctions {
      padding: 1rem 1.5em;
      display: flex;
      border-radius: .5rem;
      background-color: #b1b1b1;
      width: 100%;
      color: black;
      box-shadow: 5px 5px #888888;
      align-items: center;
    }

  .dashboardbtn {
    width: 35%;
    display: flex;
    display: inline-block;
  }


  /*Search Function*/
.search {
  width: 100%;
  display: flex;
  margin: 25px;
  padding: 20px;
  float: right;
}

  .search-button {
    border-radius: 30px;
    border: 1px solid #fff;
    color: black;
    background-color: var(--yellow-color);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    width: 30%;
    height: 30px;
    padding: 1rem;
    transition: all ease .4s;
  }

  .search-button:hover {
    background-color: #44c8ed;
    border-color: #44c8ed;
  }

  .title {
    text-align: center;
    text-decoration: underline;
  }