* {
    color: var(--dark-outline);
}

:root {
    --primary-color: #EDEBE7;
    --secondary-color: #D2D5D2;
    --tierary-color: #B7BCBA;
    --dark-outline: #7F8386;
    --red-color: #FFB8B8;
    --yellow-color: #FFFBD0;
    --green-color: #C8FDC3;
    --blue-color: #97F2D0;
    --purple-color: #E6B2FD;
}

/*Nav CSS*/
nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: right;
    list-style: none;
}

nav ul li {
    padding: 10px 20px;
    font-weight: heavy;
    font-size: xx-large;
    border: none;
    color: var(--secondary-color);
}

#signup-form {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    text-decoration: none;
    border: none;
    border-radius: 25px;
    color: #5c765a;
    background-color: var(--green-color);
}

#login-form {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    text-decoration: none;
    border: none;
    border-radius: 25px;
    color: #664d71;
    background-color: var(--purple-color);
}

nav ul li button:hover {
    font-style: italic;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}



.login-options {
    display: flex;
    justify-content: space-around;
}


.login-form {
    padding: 1rem 1.5em;
    border-radius: .5rem;
    background-color: #74787c;
    display: inline-block;
    width: 45%;
  }
  
  .login-form h4 {
    color: white;
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }
  
  .login-form label {
    text-transform: uppercase;
    color: #dbdbdb;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .login-form input {
    color: white;
  }
  
  .login-form input:focus {
    opacity: .8;
  }
  
  .email-login,
  .password-login {
    border-radius: 30px;
    border: none;
    opacity: .1;
    transition: all ease .4s;
  }
  
  .login-form-button button{
    border-radius: 30px;
    border: 1px solid #fff;
    color: #fff;
    background-color: var(--purple-color)
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    padding: 1rem;
    transition: all ease .4s;
  }
  
  .login-form-button:hover {
    background-color: #44c8ed;
    border-color: #44c8ed;
  }



  .signup-form {
    padding: 1rem 1.5em;
    display: inline-block;
    border-radius: .5rem;
    background-color: #74787c;
    width: 45%;
  }
  
  .signup-form h4 {
    color: white;
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }
  
  .signup-form label {
    text-transform: uppercase;
    color: #dbdbdb;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .signup-form input {
    color: white;
  }
  
  .signup-form input:focus {
    opacity: .8;
  }
  
  .firstname-signup,
  .lastname-signup,
  .username-signup,
  .email-signup,
  .password-signup {
    border-radius: 30px;
    border: none;
    opacity: .1;
    transition: all ease .4s;
  }
  
  .login-form-button button{
    border-radius: 30px;
    border: 1px solid #fff;
    color: #fff;
    background-color: var(--purple-color)
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    padding: 1rem;
    transition: all ease .4s;
  }
  
  .login-form-button:hover {
    background-color: #44c8ed;
    border-color: #44c8ed;
  }
    
  