<ol class="posts">
    {{#each posts as |post|}}
    <li>
        {{> posts post}}
    </li>
    {{/each}}
</ol>

{{> newpost}}

<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Filter</button>
        <div id="filterDropdown" class="dropdown-content">
            <a href="#">FTM</a>>
            <a href="#">MTF</a>
            <a href="#">Non-Binary</a>
            <a href="#">Coming Out</a>
            <a href="#">Gender Expression</a>
            <a href="#">Hormone Replacement Therapy</a>
            <a href="#">Surgeries</a>
            <a href="#">Asexual</a>
            <a href="#">Bisexual</a>
            <a href="#">Coming Out</a>
            <a href="#">Gay</a>
            <a href="#">Lesbian</a>
            <a href="#">Pansexual</a>
            <a href="#">Questioning</a>
            <a href="#">LGBT Adoption</a>
            <a href="#">LGBT Parenting</a>
            <a href="#">Same-Sex Marriage</a>
            <a href="#">Social Movements</a>
            <a href="#">Events</a>
        </div>
</div>

