<form class="login-form">
  <div class="login">
    <h4 class="">Sign In</h4>
    <label for="email-login">Email</label>
    <input type="text" class="email-login" id="email-login" required/>


    <label for="password-login">Password</label>
    <input type="text" class="password-login" id="password-login">
    <button type="submit" class="login-form-button">Sign In</button>
  </div>
</form>


<form class="signup-form">
    <div>
        <label for="firstname-signup">First Name:</label>
        <input type="text" id="firstname-signup" />
    </div>
    <div>
        <label for="lastname-signup">Last Name:</label>
        <input type="text" id="lastname-signup" />
    </div>
    <div>
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="email-signup">Email:</label>
        <input type="email" id="email-signup" />
    </div>
    <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit">Signup!</button>
    </div>
</form>




<script src="/javascript/login.js"></script>