
{{> posts post}}

  <div class="blog-footer">
    <ul>
      <li class="published-date"></li>
      <div class="votingbuttons">
      <li class="positive">
        <span>
        <button class="up-vote-btn" id="up-vote-btn"><img src="/stylesheet/assets/thumbsup.png"><class="numero"><p class="up-counter">0</p></span></button>
        </span>
      </li>
      <li class="negative">
        <span>
          <button class="down-vote-btn" id="down-vote-btn">
          <img src="/stylesheet/assets/thumbsdown.png"><class="numero"><p class="down-counter">0</p></span></button>
        </span>
          </li>
      </div>
    </ul>
  </div>


{{#if loggedIn}}
<article class="singlepost">
<form class="comment-form">
  <div class="comment-text">
    <p class="">Type your Comment Below!</p>
   <div>
        <textarea name="comment-body" id="comment-body"></textarea>
    </div>

    <div>
        <button type="submit" class="singlepost-form-button">Add your Comment!</button>
    </div>
  </div>
</form>
{{/if}}

{{> comments post.comments}}
<br><br>
<div class="singlepostquote">“Equality means more than passing laws. The struggle is really won in the hearts and minds of the community, where it really counts.” – Barbara Gittings</div>
<br>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/vote.js"></script>
{{/if}}