
{{> posts post}}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">Add Comment</button>
        <button type="button" class="upvote-btn">upvote</button>
        <button type="button" class="downvote-btn">downvote</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/vote.js"></script>
{{/if}}