<div class="main">
  <div class="sub-main">
     <a class="dashboardbtn" href="../dashboard">Previous Page</a>
  </div>
</div>


{{> posts post}}


{{!-- {{#if loggedIn}} --}}
<article class="singlepost">
<form class="comment-form">
  <div class="comment-text">
    <p class="">Type your Comment Below!</p>
   <div>
        <textarea name="comment-body" id="comment-body"></textarea>
    </div>

    <div>
        <button type="submit" class="singlepost-form-button">Add your Comment!</button>
    </div>
  </div>
</form>
</article>
<br><br>
{{> comments post.comments}}
<br><br>
<div class="singlepostquote">“Equality means more than passing laws. The struggle is really won in the hearts and minds of the community, where it really counts.” – Barbara Gittings</div>
<br>
{{!-- {{#if loggedIn}} --}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/vote.js"></script>
{{!-- {{/if}} --}}