
{{> posts post}}

hjk
{{!-- {{#if loggedIn}} --}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>
<button type="button" class="upvote-btn"><i class="fa-solid fa-thumbs-up"></i></button>
|
<button type="button" class="downvote-btn"><i class="fa-solid fa-thumbs-down"></i></button>
{{!-- {{/if}} --}}

{{> comments post.comments}}

{{!-- {{#if loggedIn}} --}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/vote.js"></script>
{{!-- {{/if}} --}}